.table{
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;

}

.titulo{
    font-size: var(--font-display);
    font-family: var(--alternative-font);
    font-weight: 43rem;
    text-align: left;
    padding-top: 3rem;
}

.tr{
    font-family: var(--base-font);
    font-weight: 31.25rem;
    font-size: var(--font-large);
}

.tr,th{
    text-align: center;
}

.section{
    display: inline-flex;
}

.search{    
    width: 4.23rem;
    height: 35.76;
    margin-top: 5.25px;
    margin-left: 5.25px;
}

.placeholder{    
    margin-top: 60px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: var(--font-display);
    width: 60rem;
    
}