<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Crear Producto</h1>
    <form
    method="post",
    action="/admin/products/create"
    >
    <label>Nombre</label>
    <input name="nombre"></input>
    <label>Precio</label>
    <input name="precio"></input>
    <label>Categoria</label>
    <select name="categoria">
        <% categorias.forEach((categoria)=>{ %>
            <option value="<%= categoria.id %>"><%= categoria.nombre %></option>
       <% }) %>
    </select>

    <button>Crear</button>
</form>
</body>
</html>