<header class="header" id="nav-active">
    <nav class="nav">
      <picture class="logo">
        <a href="/">
          <img
            src="/img/branding/logo_light_horizontal.svg"
            alt="Logo de la marca"
          />
        </a>
      </picture>
      <ul class="nav-menu" id="nav-list">
        <li class="nav-menu-item">
          <a href="/pages/shop.html" class="nav-menu-link nav-link">VER TIENDA</a>
        </li>
        <li class="nav-menu-item">
          <a href="/admin/products" class="nav-menu-link nav-link">ADMIN</a>
        </li>
        <li class="nav-menu-item">
          <a href="/logout" class="nav-menu-link nav-link">SALIR</a>
        </li>
      </ul>
      <div class="menu-toggle" id="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </nav>
  </header>